<html>
<head>
	<meta charset="utf-8">
	<title>Kholles</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script type="text/x-mathjax-config">MathJax.Hub.Config({  tex2jax: {inlineMath: [['$','$']]} });</script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

<head>
<body>
	<div style="display:none">$$\newcommand{\mtn}{\mathbb{N}}\newcommand{\mtns}{\mathbb{N}^*}\newcommand{\mtz}{\mathbb{Z}}\newcommand{\mtr}{\mathbb{R}}\newcommand{\mtk}{\mathbb{K}}\newcommand{\mtq}{\mathbb{Q}}\newcommand{\mtc}{\mathbb{C}}\newcommand{\mch}{\mathcal{H}}\newcommand{\mcp}{\mathcal{P}}\newcommand{\mcb}{\mathcal{B}}\newcommand{\mcl}{\mathcal{L}}
\newcommand{\mcm}{\mathcal{M}}\newcommand{\mcc}{\mathcal{C}}
\newcommand{\mcmn}{\mathcal{M}}\newcommand{\mcmnr}{\mathcal{M}_n(\mtr)}
\newcommand{\mcmnk}{\mathcal{M}_n(\mtk)}\newcommand{\mcsn}{\mathcal{S}_n}
\newcommand{\mcs}{\mathcal{S}}\newcommand{\mcd}{\mathcal{D}}
\newcommand{\mcsns}{\mathcal{S}_n^{++}}\newcommand{\glnk}{GL_n(\mtk)}
\newcommand{\mnr}{\mathcal{M}_n(\mtr)}\DeclareMathOperator{\ch}{ch}
\DeclareMathOperator{\sh}{sh}\DeclareMathOperator{\th}{th}
\DeclareMathOperator{\vect}{vect}\DeclareMathOperator{\card}{card}
\DeclareMathOperator{\comat}{comat}\DeclareMathOperator{\imv}{Im}
\DeclareMathOperator{\rang}{rg}\DeclareMathOperator{\Fr}{Fr}
\DeclareMathOperator{\diam}{diam}\DeclareMathOperator{\supp}{supp}
\newcommand{\veps}{\varepsilon}\newcommand{\mcu}{\mathcal{U}}
\newcommand{\mcun}{\mcu_n}\newcommand{\dis}{\displaystyle}
\newcommand{\croouv}{[\![}\newcommand{\crofer}{]\!]}
\newcommand{\rab}{\mathcal{R}(a,b)}\newcommand{\pss}[2]{\langle #1,#2\rangle}
$$</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#">Kholles</a>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Mes kholles</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Generer</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
	    </form>
	  </div>
	</nav>

	<div class="container">
		<div style="margin-top:10px">
		<h1>Tous les exercices</h1>
			{% for exo in exos %}
			<hr>
			<h5>{{ exo[1] }} - {{ exo[2] }} / 5 - <a id="exo{{exo[0]}}" href="javascript:sendExo({{exo[0]}})">ajouter a ma liste</a></h5>

			<div class="card bg-light">
			  <div class="card-header">Enonce</div>
			  <div class="card-body">
			    {{ exo[6] | safe }}
			  </div>
			</div>
			{% if exo[7] %}
			<div style="margin-top:5px">
			<div class="card bg-dark text-white">
			  <div class="card-header">Indication</div>
			  <div class="card-body">
			    {{ exo[7] | safe }}
			  </div>
			</div>
			{% endif %}
			<div style="margin-top:5px">
			<div class="card bg-danger text-white">
			  <div class="card-header">Corrige</div>
			  <div class="card-body">
			    {{ exo[8] | safe }}
			  </div>
			</div>


			{% endfor %}

	</div>

	<script>
		function sendExo(id) {
			const req = new XMLHttpRequest();
			req.open('POST', "/send_exo/" + id, false);
			req.send(null);
			console.log("here");
			document.getElementById("exo1").value = "remove";
		}

	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
<html>